.create-recipe-details-numbers {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 10px;
}

.add-subsection-check-wrapper {
  margin: 0 1rem 1rem .5rem;
  display: flex;
}
