//Colors
//Primary
//red
@pr-red-1: hsl(11, 80%, 14%);
@pr-red-2: hsl(10, 79%, 23%);
@pr-red-3: hsl(10, 79%, 33%);
@pr-red-4: hsl(10, 79%, 42%);
@pr-brand-color: hsl(10, 80%, 58%);
@pr-red-6: hsl(10, 79%, 62%);
@pr-red-7: hsl(10, 79%, 70%);
@pr-red-8: hsl(10, 79%, 79%);
@pr-red-9: hsl(10, 79%, 89%);
@pr-red-10: hsl(10, 79%, 94%);

//yellow
@pr-brand-yellow-1: hsl(15, 86%, 30%);
@pr-brand-yellow-2: hsl(22, 82%, 39%);
@pr-brand-yellow-3: hsl(29, 80%, 44%);
@pr-brand-yellow-4: hsl(36, 77%, 49%);
@pr-brand-yellow-5: hsl(42, 87%, 55%);
@pr-brand-yellow-6: hsl(44, 92%, 63%);
@pr-brand-yellow-7: hsl(48, 94%, 68%);
@pr-brand-yellow-8: hsl(48, 95%, 76%);
@pr-brand-yellow-9: hsl(48, 100%, 88%);
@pr-brand-yellow-10: hsl(49, 100%, 96%);

//Neutrals
@pr-brand-grey-1:  hsl(42, 15%, 13%);
@pr-brand-grey-2: hsl(42, 15%, 13%);
@pr-brand-grey-3: hsl(37, 11%, 28%);
@pr-brand-grey-4: hsl(41, 9%, 35%);
@pr-brand-grey-5: hsl(41, 8%, 48%);
@pr-brand-grey-6: hsl(41, 8%, 61%);
@pr-brand-grey-7: hsl(39, 11%, 69%);
@pr-brand-grey-8: hsl(40, 15%, 80%);
@pr-brand-grey-9: hsl(43, 13%, 90%);
@pr-brand-grey-10: hsl(40, 23%, 97%);

//Secondary
//green
@pr-brand-green-1: hsl(81, 86%, 14%);
@pr-brand-green-2: hsl(81, 78%, 21%);
@pr-brand-green-3: hsl(83, 74%, 27%);
@pr-brand-green-4: hsl(83, 70%, 34%);
@pr-brand-green-5: hsl(83, 64%, 42%);
@pr-brand-green-6: hsl(83, 55%, 52%);
@pr-brand-green-7: hsl(83, 63%, 61%);
@pr-brand-green-8: hsl(83, 68%, 74%);
@pr-brand-green-9: hsl(84, 77%, 86%);
@pr-brand-green-10: hsl(83, 88%, 94%);

//blue
@pr-brand-blue-1: hsl(184, 91%, 17%);
@pr-brand-blue-2: hsl(185, 84%, 25%);
@pr-brand-blue-3: hsl(185, 81%, 29%);
@pr-brand-blue-4: hsl(184, 77%, 34%);
@pr-brand-blue-5: hsl(185, 62%, 45%);
@pr-brand-blue-6: hsl(185, 57%, 50%);
@pr-brand-blue-7: hsl(184, 65%, 59%);
@pr-brand-blue-8: hsl(184, 80%, 74%);
@pr-brand-blue-9: hsl(185, 94%, 87%);
@pr-brand-blue-10: hsl(186, 100%, 94%);

@pr-brand-white: #ffffff;
@pr-brand-grey: #acaead;
@pr-brand-dark: #3f3f3f;
@pr-brand-light-grey: #ebebeb;

h2, h3, h4, h5, h6, p, a {
  font-family: 'Lato', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: @pr-brand-white;
  position: relative;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

#spark-app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  width: 60%;
  background: #fff;
  display: flex;
  flex-direction: column;

}

.container-heading {
  color: @pr-brand-dark;
  display: flex;
  flex-direction: column;
  margin: 4rem 0 0 0;
}


.container-body {
  margin: -16rem 0 0 0;
  transition: all linear .8s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.small-screen {
  display: none;
}



@import "./../../../node_modules/hover.css/less/hover";

@import "./GroceryList";

@import "./GroceryListCreate";

@import "./GroceryLists";

@import "./Recipes";

@import "./Recipe";

@import "./CreateRecipe";

@import "./addIngredient";

@import "./MealPlanning";

@import "./MealPlans";

@import "./modal";

@import "./FullScreenModal";

@import "./navigation";

@import "./printerfriendly";

@import "./../../../node_modules/bootstrap/less/bootstrap";

// @import "./spark/spark";
@import "./../../../vendor/laravel/spark/resources/assets/less/spark";


@media (max-width: 1050px) {
  .container {
    width: 100%;
    box-shadow: none;
    align-items: center;
  }

  .drop-wrapper {
    width: 100%;
  }

  .drop-caret {
    right: 10rem;
  }
}




@media (max-width: 800px) {
  .small-screen {
    display: flex;
    justify-content: center;
    color: @pr-brand-dark;
  }
}

body {
  font-family: Lato, sans-serif;
}

