@pr-brand-color: #ff4b2e;
@pr-brand-white: #ffffff;
@pr-brand-grey: #acaead;
@pr-brand-dark: #3f3f3f;

h2, h3, h4, h5, h6, p, a {
  font-family: 'Lato', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: @pr-brand-white;
  position: relative;
  width: 100%;
}

ul {
  list-style: none;
}

#spark-app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@import "./../../../node_modules/hover.css/less/hover";

@import "./GroceryList";

@import "./GroceryListCreate";

@import "./GroceryLists";

@import "./Recipes";

@import "./Recipe";

@import "./CreateRecipe";

@import "./addIngredient";

@import "./modal";

@import "./navigation";

@import "./printerfriendly";

@import "./../../../node_modules/bootstrap/less/bootstrap";

// @import "./spark/spark";
@import "./../../../vendor/laravel/spark/resources/assets/less/spark";
