//Page Wide Styles
.create-recipe-wrapper {
  padding: 2rem;
}

.create-recipe-section-wrapper {
  display: grid;
  background: @pr-brand-grey-10;
  border-radius: 4px;
  margin-bottom: 3rem;
}

.create-recipe-header {
  background: @pr-brand-color;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 0 1rem;
  border-radius: 4px 4px 0 0;
}

.create-recipe-header h4 {
  color: @pr-brand-white;
}

.create-caret {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  transition: all .1s ease-in-out;
}

.caret-svg {
  fill: @pr-brand-white;
}

.rotate-caret {
  transform: rotate(30deg);
  transition: all .1s ease-in-out;
}

.create-recipe-body {
  padding: .5rem;
  height: auto;
  opacity: 1;
  transition: height .3s ease-in-out;
}

.hide-info {
  opacity: 0;
  height: 0;
  transition: height .3s ease-in-out;
}

.create-recipe-label {
    color: @pr-brand-grey-3;
    font-weight: 500;
    font-size: 16px;
}

.create-recipe-input {
  border: @pr-brand-grey-7 solid 2px;
  border-radius: 4px;
  padding: .5rem;
}

.recipe-item {
  display: flex;
  flex-direction: column;
  padding: 0 .5rem 1.5rem .5rem;
}
@import "./Recipe Related Styling/Create Recipe/Buttons";

@import "./Recipe Related Styling/Create Recipe/Details";

@import "./Recipe Related Styling/Create Recipe/Directions";

@import "./Recipe Related Styling/Create Recipe/Ingredients";

@import "./Recipe Related Styling/Create Recipe/NeedToBuy";

@import "./Recipe Related Styling/Create Recipe/RadioButtons";




