
.container {
  width: 60%;
  background: #fff;
  display: flex;
  flex-direction: column;

}

.container-heading {
  color: @pr-brand-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button-wrapper {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.sq-button {
  background: @pr-brand-grey;
  border-bottom: 2px solid rgba(0, 0, 0, .04);
  border-radius: 5px;
  width: 20rem;
  margin-bottom: 2rem;
  padding: 1rem;
  color: @pr-brand-dark;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon {
  margin: 0 1rem 0 0;
}
.list-container {
  width: 100%;
}
.grocery-list {
  border: 1px solid @pr-brand-dark;
  width: 100%;
  padding: 2rem;
}

.grocery-list a {
  color: @pr-brand-dark;
  font-size: 1.5rem;
}


@media  (max-width: 1050px) {
  .container {
    width: 100%;
    box-shadow: none;
    border-radius: none;
  }
  .grocery-list a {
    font-size: 2rem;
  }
  .list-container {
    padding: 0;
  }
  .button-wrapper {
    width: 100%;
    justify-content: center;
  }
  .sq-button {
    margin: 0 0 2rem 1rem;
  }

}
