body {
  width: 100%;
  background: @pr-brand-white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 60%;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 5px rgba(27,26,26,0.14);
  -moz-box-shadow: 0 0 15px 5px rgba(27,26,26,0.14);
  box-shadow: 0 0 15px 5px rgba(27,26,26,0.14);
  margin-bottom: 40px;
  margin-top: 50px;

}

.container-heading {
  background: @pr-brand-color;
  margin: 0 -15px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  padding: 0 0 0 2%;
}

.container-create {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

.create-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.title-input {
  width: 80%;
  border: none;
  border-bottom: 2px solid @pr-brand-color;
  padding: .5%;
  font-size: 1.2em;
  margin-right: 10px;
}

.title-input:focus {
  border-bottom: 2px solid #bf3822;
  outline: none;
}

.save-button {
  background: #ffffff;
  color: @pr-brand-color;
  border: 2px solid @pr-brand-color;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 1.2em;
  transition: border 2s;
}

.save-button:hover {
  border: 2px solid #BF3822;
  color: #BF3822;
  transition: border 2s;
}
