
//.button-wrapper {
//  display: flex;
//  width: 50%;
//  //justify-content: space-between;
//}
//.sq-button {
//  background: @pr-brand-grey;
//  border-bottom: 2px solid rgba(0, 0, 0, .04);
//  border-radius: 5px;
//  width: 20rem;
//  margin: 0 1rem 2rem 0;
//  padding: 1rem;
//  color: @pr-brand-dark;
//  font-size: 1.5rem;
//  font-weight: 700;
//  text-align: center;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//.button-icon {
//  margin: 0 1rem 0 0;
//}
//.list-container {
//  //width: 100%;
//
//}
//
//.margin-transition {
//  margin: 0;
//}
//.grocery-list {
//  border: 1px solid @pr-brand-dark;
//  width: 100%;
//  padding: 2rem;
//}
//
//.list-heading h2 {
//  display: flex;
//}
//
//.list-options {
//  display: grid;
//  justify-items: center;
//  padding: 0 0 0 1rem;
//  cursor: pointer;
//}
//
//.list-options:hover {
//  color: @pr-brand-grey;
//}

.lists-main-wrapper {
  background: @pr-brand-grey-10;
  padding: 3rem;
}
.lists-secondary-wrapper {
  background: @pr-brand-white;
  border-top: .8rem solid @pr-brand-color ;
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 95%;
}
.category-container {
  width: 100%;
}
.lists-heading{
  color: @pr-red-1;
  font-weight: 500;
  font-size: 24px;
}

.lists-button-wrapper {
  display: flex;
}
.lists-action {
  background: none;
  border: 2px solid @pr-brand-grey-9;
  border-radius: 4px;
  padding: .3rem 2rem;
  font-weight: 500;
  color: @pr-brand-grey-4;
  margin: 0 1rem 3rem 0;
  display: flex;
  align-items: center;
  transition: background-color .3s ease;
}
.lists-action:hover {
  background: @pr-brand-grey-9;
  font-weight: 700;
  color: @pr-brand-grey-4;
  text-decoration: none;
  cursor: pointer;
  transition: background-color .3s ease;
}
.lists-action a:hover {
  color: @pr-brand-grey-4;
  text-decoration: none;
}
.lists-body {
  transform: translateY(-5rem);
  transition: all .3s ease;
}
.lists-moved {
  transform: translateY(-3rem);
  transition: all .3s ease;
}
.all-lists-wrapper {
  padding: 0;
}
.grocery-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid @pr-brand-grey-10;
  font-size: 16px;
}

.grocery-list:last-child {
  border-bottom: none;
}

.grocery-list a {
  padding: 1.5rem 1rem 1.5rem 2rem;
  color: @pr-brand-grey-4;
  font-weight: 300;
  transition: all .3s ease;
}

.grocery-list a:hover {
  text-decoration: none;
  color: @pr-brand-grey-4;
  transition: all .3s ease;
  font-weight: 600;
  cursor: pointer;
}
.selected-action {
  background: @pr-brand-grey-10;
  border: none;
}
.new-list-wrapper {
  width: 35%;
  border-radius: 0 8px 8px 8px;
  display: flex;
  background: @pr-brand-grey-10;
  opacity: 0;
  position: relative;
  z-index: -1;
  transform: translateY(-5rem);
  transition: transform .3s ease;
}

.new-list-expand {
  transform: translateY(-3rem);
  z-index: 1;
  opacity: 1;
  transition: transform .3s ease;
}
.new-list-expand .container-create {
  padding: 2rem;
}
.new-list-expand .create-form {
  flex-direction: column;
}
.new-list-expand .title-input {
  border: 2px solid @pr-brand-grey-9;
  background: @pr-brand-white;
  border-radius: 4px;
  margin-bottom: 2rem;
  font-weight: 300;
  padding-left: 1rem;
  font-size: 16px;
}

.new-list-expand .save-button {
  border-radius: 4px;
}
@media  (max-width: 950px) {

  .new-list-wrapper {
    width: 95%;
   }

}
