
h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
}

#spark-app {
  display: flex;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
  text-align: center;
  width: 20%;
  margin-top: 11px;

}

.nav-links {
  background: #ffffff;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  padding-left: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 2px rgba(27,26,26,0.14);
  -moz-box-shadow: 0 0 10px 2px rgba(27,26,26,0.14);
  box-shadow: 0 0 10px 2px rgba(27,26,26,0.14);
}

.nav-links a {
  color: #4f4f4f;
  font-size: 1.2em;
  padding: 2% 2% 4% 2%;
}

.nav-links a:hover {
  color: #4f4f4f;
  text-decoration: none;
  cursor: pointer;
}


.nav-brand {
  font-family: 'Dancing Script', cursive;
  color: @pr-brand-color;
  margin-bottom: -1%;
  z-index: 2;
  font-weight: 700;
  margin-top: 0;
}

.nav-link {
  color: #4f4f4f;
  font-size: 1.2em;
  border-bottom: 1px solid #4f4f4f;
  width: 80%;
  padding: 2%;
  transition: border-bottom 2ms;
}

.nav-link:hover {
  border-bottom: 1px solid @pr-brand-color;
  color: #4f4f4f;
  text-decoration: none;
  transition: border-bottom 2ms;
}

.nav-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: @pr-brand-color;
  border-radius: 0 0 10px 10px;
}

.main-wrapper {
  display: flex;
  width:45%;
  box-shadow: 0 0 15px 5px rgba(27,26,26,0.14);
}

.picture-section {
  width: 60%;
  background: @pr-brand-color;
}

.sign-in-section {
  display: flex;
  text-align: right;
  width: 40%;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  position: relative;
}


.brand{
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 3em;
  color: @pr-brand-color;
}

.links {
  text-align: right;
  width: 100%;
  background: rgba(255,255,255,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40%;
}

.links a {
  text-decoration: none;
  background: rgba(255,255,255,.4);
  color: @pr-brand-color;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  width: 60%;
  height: 35%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  border: 1px solid @pr-brand-color;
}
.links a:hover {
  background: #ffffff;
  color: @pr-brand-color;
  text-decoration: none;
}
.line {
  width: 100%;
  height: 10px;
  background: @pr-brand-color;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}

.edit-item {
  background: #ffffff;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  padding-left: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 2px rgba(27,26,26,0.14);
  -moz-box-shadow: 0 0 10px 2px rgba(27,26,26,0.14);
  box-shadow: 0 0 10px 2px rgba(27,26,26,0.14);
}

