
.nav-wrapper {
  display: flex;
  text-align: center;
  width: 100%;
}

.main-nav {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}

.nav-brand {
  color: @pr-brand-color;
  font-size: 4rem;
}

.nav-brand:hover, .nav-brand:focus {
  color: @pr-brand-color;
  text-decoration: none;
}

.tk-reklame-script {
  font-family: "reklame-script",sans-serif;
}

.nav-links {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  padding-left: 2rem;
}
.nav-link {
  color: @pr-brand-grey-3;
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.nav-link:hover, .nav-link:focus {
  text-decoration: none;
  color: @pr-brand-color;
}
.nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -1px;
  background: @pr-brand-color;
  height: 4px;
  transition: right 0.3s ease-out;
}
.nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
  right: 0;
}
.active {
  position: relative;
  color: @pr-brand-color;
}
.active:after {
  background: @pr-brand-color;
  display: block;
  content: '';
  height: 2px;
  width: calc(100% - 2px);
  position: absolute;
  left: 0;
  bottom: 0;
}







.main-wrapper {
  display: flex;
  width:45%;
  //box-shadow: 0 0 15px 5px rgba(27,26,26,0.14);
}

.picture-section {
  width: 60%;
  background: @pr-brand-color;
}

.sign-in-section {
  display: flex;
  text-align: right;
  width: 40%;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  position: relative;
}


.brand{
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 3em;
  color: @pr-brand-color;
}

.links {
  text-align: right;
  width: 100%;
  background: rgba(255,255,255,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40%;
}

.links a {
  text-decoration: none;
  background: rgba(255,255,255,.4);
  color: @pr-brand-color;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  width: 60%;
  height: 35%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  border: 1px solid @pr-brand-color;
}
.links a:hover {
  background: #ffffff;
  color: @pr-brand-color;
  text-decoration: none;
}
.line {
  width: 100%;
  height: 10px;
  background: @pr-brand-color;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}

.edit-item {
  background: #ffffff;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  padding-left: 10px;
  border-radius: 10px;
  //-webkit-box-shadow: 0 0 10px 2px rgba(27,26,26,0.14);
  //-moz-box-shadow: 0 0 10px 2px rgba(27,26,26,0.14);
  //box-shadow: 0 0 10px 2px rgba(27,26,26,0.14);
}
.device-nav-wrapper {
  display: none;
}

@media  (max-width: 800px) {
  .nav-wrapper {
    display: none;
  }

  .device-nav-wrapper {
  background: @pr-brand-color;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-content: baseline;
    padding: 1rem;
    z-index: 1000;
  }

  .device-icon {
    fill: @pr-brand-white;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .icon {
    transform: translateY(1rem);
    transition: all .3s ease-in-out;
  }

  .device-active .icon {
    background: @pr-brand-white;
    fill: @pr-brand-color;
    transform: translateY(-4rem);
    padding: 1rem 1.2rem;
    border-radius: 50%;
    border: 4px solid @pr-brand-color;
    transition: all .3s ease-in-out;
  }

  .text {
    transform: translateY(20rem);
    transition: all .3s ease-in-out;
  }

  .device-active .text {
    display: block;
    color: @pr-brand-white;
    font-weight: 400;
    text-align: center;
    transform: translateY(-4rem);
    transition: all .3s ease-in-out;
  }

  .device-active .text:focus {
    text-decoration: none;
  }

}


@media only screen
and (max-device-width: 1280px) {
  .small-screens-background {

  }
  .main-wrapper {
    width: 85%;
  }

  .sign-in-section {
    width: 100%;
  }

  .picture-section {
    display: none;
  }
}

