.recipe-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid @pr-brand-grey;
}

.recipeHeader {
  //display: flex;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr .5fr;
  width: 100%;
  border-bottom: 2px solid @pr-brand-grey;
}

.recipeTitleCat {
  //flex: 2 2;
  margin: .5rem;


}

.recipe-title {
  margin: 0;
  font-weight: 700;
}
.recipe-category {
  font-style: italic;
  font-weight: 300;
  margin-top: 5px;
}

.recipeExtraInfo {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-end;
  align-content: flex-end;
  grid-column: 2;
}

.recipeInfo {
  display: flex;
  margin: .5rem;
  width: 100%;
}

.recipeInfoTitle {
  width: 30%;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  flex: 1 1;
}

.recipeInfoDetail {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 700;
  flex: 1 1;
}

.recipeActions {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 1fr;
  grid-template-rows: 50px auto;
  justify-items: center;
  max-height: 50px;
  margin-bottom: 1rem;
}

.recipeAction {
  width: 4rem;
  height: 4rem;
  grid-row:1 ;
  background: @pr-brand-grey;
  border-radius: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.recipeDropWrapper {
  grid-row: 2;
  .drop-wrapper;
  width: 70%;
}

.show-box {
  opacity: 1;
  z-index: 2;
}

.side-section {
  width: 30%;
  background: lighten(@pr-brand-color, 20%);
  color: #ffffff;
  padding: 2% 1% 0 1%;
  border-radius: 10px 0 0 10px;
}
.saved-list-of-ingredients {
  padding: 0 0 0 19px;
}
.ingredient-items {
  margin-top: 3%;
}
.saved-buy-item-list {
  padding: 0 0 0 19px;
}

.main-section {
  padding: 2% 0 0 1%;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.recipe-heading {
  margin-bottom: 3%;
}

.need-to-buys-section {
  margin-top: 5%;
}
.recipe-buttons {
  width: 80%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;

}

.modify-button {
  padding: 0 5px;
  opacity: .4;
}
.modify-button:hover {
  cursor: pointer;
  opacity: .7;
}

//Edit Recipe
.edit-heading {
  border: 0;
  border-bottom: 2px solid @pr-brand-color;
  background: none;
  width: 80%;
}
.edit-directions {
  width: 80%;
  border: 0;
}

.edit-category {
  border: 0;
  border-radius: 0;
  background-color: #ffffff;
  width: 80%;
}
.edit-ingredient-wrapper {
  display: flex;
  justify-content: space-between;
}
.edit-ingredient-input {
  border: 0;
  border-bottom: 2px solid #ffffff;
  background: none;
  width: 85%;
}
.delete-ingredient {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.add-ingredient-button {
  margin-left: 2%;
}
.add-ingredient-button:hover {
  cursor: pointer;
}

.add-ingredient-headings {
  display: flex;
}

.edit-button {
  padding: 0 5px;
  opacity: .6;
}

.edit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.sm-scrn {
  display: none;
}
.svg-sm {
  display: none;
}
//Media Queries
@media (min-width: 1200px) {
  .recipe-wrapper {
    width: 1170px;
  }
}
@media (max-width: 992px) {
  .recipe-wrapper {
    width: 970px;
    flex-direction: column;
    border-radius: 0;
    min-height: 100vh;
    margin: 15px 0 0 0;
  }

  .recipe-title {
    color: @pr-brand-color;
  }

  .recipe-category {
    color: lighten(@pr-brand-color, 20%);
  }

  .lg-scrn {
    display: none;
  }

  .sm-scrn {
    display: inline-block;
  }

  .recipe-heading {
    padding: 2% 1% 0 1%;
    margin-bottom: 0;
    width: 60%;
  }

  .svg-sm {
    display: inline-block;
  }

  .svg-lg {
    display: none;
  }

  .side-section {
    width: 50%;
    background: none;
    color: #4f4f4f;
  }

  .main-section {
    width: 50%;
  }

  .saved-directions {
    margin-bottom: 25%;
  }
  .directions-text {
    padding-left: 19px;
  }
}
@media (max-width: 768px) {
  .recipe-wrapper {
    width: 750px;
  }
}
