.recipe-wrapper {
  display: flex;
  width: 65%;
  min-height: 45%;
  margin: 5% auto;
  background: lighten(@pr-brand-color, 40%);
  box-shadow: 0 0 15px 5px rgba(27,26,26,0.05);
}
.side-section {
  width: 45%;
  background: lighten(@pr-brand-color, 20%);
  color: #f7f4f4;
  padding: 2% 1% 0 1%;
}
.saved-list-of-ingredients {
  padding: 0;
}
.ingredient-items {
  margin-top: 3%;
}
.saved-buy-item-list {
  padding: 0;
}

.main-section {
  padding: 2% 0 0 1%;
}
.recipe-heading {
  margin-bottom: 7%;
}
.recipe-title {
  margin: 0;
  font-weight: 300;
}
.recipe-category {
  font-style: italic;
  font-weight: 300;
}
.need-to-buys-section {
  margin-top: 5%;
}
