.category-container {
  width: 100%;
}
.category-heading {
  color: @pr-brand-color;
  font-weight: 300;
}

.recipe-ingredient {
  width: 90%;
  padding: 1%;
  background: #ffffff;
  border-left: 7px solid @pr-brand-color;
  border-top: 1px solid rgba(27,26,26,.1);
  border-radius: 5px;
  -webkit-box-shadow: 1px 3px 2px 1px rgba(27,26,26,0.1);
  -moz-box-shadow: 1px 3px 2px 1px rgba(27,26,26,0.1);
  box-shadow: 1px 3px 2px 1px rgba(27,26,26,0.1);
  font-size: 1.5em;
  margin: 2% 0;
  transition: border-left 1s;
}

.recipe-ingredient a {
  color: #4f4f4f;
}

.recipe-ingredient a:hover {
  color: #4f4f4f;
  text-decoration: none;
}

.recipe-ingredient:hover {
  border-left: 7px solid #BF3822;
  transition: border-left 1s;
}

@media only screen
and (max-device-width: 1050px) {
  .recipe-ingredient {
    width: 100%;
    margin: 4% 0;
  }

  .recipes-wrapper {
    //margin-top: 45%;
  }
}
