.category-container {
  width: 100%;
}
.category-heading {
  color: @pr-brand-color;
  font-weight: 300;
}

.recipes-wrapper {
  border: 1px solid @pr-brand-grey;
}

.recipes-list {
  padding: 0;
  margin: 0;
}

.recipe-ingredient {
  width: 100%;
  font-size: 1.5em;
  border-bottom: 1px solid @pr-brand-grey;
  padding: 1rem;
}

.recipe-ingredient a {
  color: @pr-brand-dark;
}

.recipe-ingredient a:hover {
  color: @pr-brand-dark;
  text-decoration: none;
}


@media only screen
and (max-device-width: 1050px) {
  .recipe-ingredient {
    width: 100%;
    margin: 4% 0;
  }

  .recipes-wrapper {
    //margin-top: 45%;
  }
}
