.recipe-ingredients {
  display: none;
}

.recipe-ingredients {
  padding: .5rem 2rem;
  line-height: 36px;
}

.recipe-ingredient-item {
  font-size: 16px;
}

.sub-ingredients-section-title {
  background: hsl(10, 79%, 94%);
  font-weight: 500;
  border: none;
  margin: 0;
  padding: 1.5rem;
  display: none;
}
.view-ingredients {
  display: block;
}
.view-sub-recipe {
  display: block;
}
.hide-sub-recipe {
  display: none;
}
@media (min-width: 950px ) {
  .ingredients-tab {
    background: @pr-red-10;
    font-weight: 500;
    border: none;
  }
  .recipe-ingredients {
    border: @pr-red-10 2px solid;
    margin: 0;
  }
}
