.list-drop-wrapper {
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  display: none;
}
.list-show-box {
  height: 100%;
  display: block;
  margin: 0;
  padding: 2rem;
  opacity: 1;
  width: 100%;
  background: @pr-brand-grey-10;
}

.add-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.list-add-item-input {
  width: 100%;
  border: none;
}
.dept-options, .add-item, .add-item-save {
  margin-bottom: 1rem;
}
.dept-options, .add-item {
  border: 2px solid @pr-brand-grey-9;
  border-radius: 4px;
}
.dept-options {
  padding: .5rem 0;
  background: @pr-brand-white;
}
.add-item-save {
  background: @pr-red-6;
  border: none;
  color: @pr-brand-white;
  border-radius: 4px;
  padding: .5rem 0;
}
@media (max-width: 650px) {
  .add-item-wrapper {
    width: 100%;
  }
}
