.list-actions-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media print {
  .list-actions-wrapper {
    display: none;
  }
}
.list-actions-buttons {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.add-border-left {
  border-left: 4px solid @pr-red-6;
}
.list-action {
  background: none;
  border: 2px solid @pr-brand-grey-9;
  border-radius: 4px;
  padding: .3rem 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.list-action:hover {
  background: @pr-brand-grey-10;
}
.list-selected-action {
  background: @pr-brand-grey-10;
  border: none;
}
.open-action-wrapper {
  background: @pr-brand-grey-10;
  transform: translateY(-3.2rem);
}
.action-open {
}
@media (max-width: 1000px) {
  .list-actions-wrapper {

  }
  .list-actions-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 3rem;
  }
  .list-action {
    padding: .3rem 1rem;
    margin-bottom: 0;
  }
  .open-action-wrapper {
    transform: translateY(-1rem);
    margin-bottom: 1rem;
  }
}
