.list-depts-wrapper {
  width: 60%;
}
.department-container {
  width: 100%;
}
.dept_heading {
  background: @pr-brand-grey-10;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  height: 4rem;
  align-items: center;
  width: 100%;
}
.red-accent-line {
  background: @pr-red-6;
  width: 4px;
  height: 100%;
  display: block;
  margin-right: 1rem;
}
.list-item:last-child {
  border-bottom: none;
}
.list-item {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid @pr-brand-grey-10;
}

.list-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid @pr-brand-grey-8;
  border-radius: 2px;
  margin: 0 1rem 0 0;
}
.checkmark {
  display: inline-block;
}
.checkmark:after {
  content: '';
  display: block;
  width: 4px;
  height: 8px;
  border: solid @pr-brand-grey-4;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checked {
  text-decoration: line-through;
}

.main-added-recipes-wrapper {
  width: 35%;
  position: sticky;
  top: 3rem;
  align-self: flex-start;
  border-radius: 4px;
}
.main-added-recipes-wrapper .recipe-list-container {
  border-radius: 4px;
}
.main-added-recipes-wrapper .recipes-list-items {
  padding-left: 0;
}
.main-added-recipes-wrapper .recipe-list-header {
  background: @pr-brand-grey-10;
  color: @pr-brand-grey-4;
  border-bottom: none;
  margin: 0;
  padding-top: 1rem;
}
@media (max-width: 750px) {
  .list-body {
    flex-direction: column;
  }
  .list-depts-wrapper {
    width: 100%;
  }
  .main-added-recipes-wrapper {
    width: 100%;
  }
 }
@media (max-width: 650px) {
.list-container {
  width: 100%;
  overflow-x: hidden ;
}
  .list-wrapper {
    margin: 0;
    width: 100%;
  }
}
